<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" src="/js/jquery-2.1.3.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/messages_es_AR.min.js"></script>
  </head>
  <body>
       
    <%= yield %>
    
  </body>
</html>
