<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" src="/js/jquery-2.1.3.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/messages_es_AR.min.js"></script>
  <script src="/js/knockout-3.2.0.js"></script>
  </head>
  <head>

<title>Batalla Naval</title>
</head>
<body>
  <!-- Inicio Navbar TODO: exportar a un partial. knockout?-->
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Batalla Naval</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav navbar-right">
          <% if session[:user] %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>
              Usuario
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-lock"></span>
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Fin Navbar -->

  <!-- Listado usuarios sidebar -->
  <div id='content' class='row-fluid' style="margin-top:5%">
    <div class='col-md-2 sidebar'>
    <% if session[:user] %>
      <h3>Listado de Usuarios</h3>
      <div class="accordion" id="accordion2" data-bind="foreach: UsersArray">
        <div class="accordion-group">
          <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"  data-bind="text: username, attr: { href: '#' + id}"></a>
          </div>
          <div class="accordion-body collapse" data-bind="attr: { id: id }">
            datos de usuario: <span data-bind="text: id"></span>
            <a data-bind="attr: {href: '/players/'+ id +'/game'}"> <button class="btn btn-info"> Iniciar partida </button> </a>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <!-- Listado usuarios sidebar Fin -->

    <div class='col-md-7 main'>
      <% if session[:mensaje] %>
        <div class="alert alert-<%= session[:mensaje][:type] %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= session[:mensaje][:value] %>
        </div>
        <% session[:mensaje] = nil %>
      <% end %>
      <%= yield %>
    </div>
    

    <!-- Sidebar Partidas -->
    <div class='col-md-3 sidebar'>
    <% if session[:user] %>
      <h3>Partidas</h3>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
                <th>Username</th>
                <th>Status</th>                                          
            </tr>
          </thead>   
          <tbody>
            <tr>
                <td>Donna R. Folse</td>
                <td><span class="label label-success">Jugando</span>
                </td>                                       
            </tr>
            <tr>
                <td>Emily F. Burns</td>
                <td><span class="label label-danger">Cancelado</span></td>              
            </tr>
            <tr>
                <td>Mary M. Bryan</td>
                <td><span class="label label-warning">Pendiente</span></td>                 
            </tr>
            <tr>
                <td>Mary A. Lewis</td>
                <td><span class="label label-info">Active</span></td> 
            </tr>
          </tbody>
        </table>
    <% end %>
    </div>
    <!-- Sidebar Partidas Fin -->

  </div>
<script type="text/javascript" src="/js/viewmodels/layout-Viewmodels.js"></script>
</body>
</html>
