
    <div id="UsersModel" class='col-sm-9' data-bind="with: usersModel">
    <% if authorized? %>
      <h3>Listado de Usuarios</h3>
      <div class="accordion" id="accordion2" data-bind="foreach: UsersArray">
        <div class="accordion-group">
          <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"  data-bind="text: username, attr: { href: '#' + id}"></a>
          </div>
          <div class="accordion-body collapse" data-bind="attr: { id: id }">
            datos de usuario: <span data-bind="text: id"></span>
            <a data-bind="attr: {href: '/games/create/'+ id}"> <button class="btn btn-info"> Iniciar partida </button> </a>
          </div>
        </div>
      </div>
    <% end %>
    </div>