.battleship {
    font-family: Arial, sans-serif;
}

.board {
    margin-top: 25px;
    width: 350px;
    height: 350px;
}
.initialize .board {
width: 650px;
height: 650px;
}
.board tr{
}
.board td:hover{
    opacity: 0.8;
}
.board td.water{
    background:#2BADD3;
}
.board td.sunken{
    background:#99304C;
}
.board td.selected{
background: url("../images/bom.png") #0E7BB3 no-repeat 50%;
background-size: 60%;
}
.board td.show-ship{
background: url("../images/ship.png") #0E7BB3 no-repeat 50%;
background-size: 50%;
}
.board td.show-sunken{
background: url("../images/sunken.png") #0E7BB3 no-repeat 50%;
background-size: 29%;
}
.board td.show-water{
background: url("../images/board.jpg") #0E7BB3 no-repeat 50%;
background-size: 300%;
}
.board td{
    background-color:#0E7BB3;
    font-size: 11px;
    text-align: center;
    border: 1px solid white;
    color: #888;
}
.ship {
   width: 30px;
}
.ships-container{

}
.miss {
    background-color: #6CF;
}
.hit {
    background-color: #F00;
}
.select {
    border:2px solid red;
}