<% if authorized? %>
<div class="col-xs-6" style="padding-top: 5%">
<%= (show_all_board @game).to_s %>
</div>
<div class="col-xs-6" style="padding-top: 5%">
<%= (show_opponent_board @game).to_s %>
</div>
<form id="form-play-ships" class="form-horizontal col-md-8 col-md-offset-2" action="/games/<%= @game.id.to_s %>" method="post">
   <%= (input_ships @game).to_s %>
   <button id="bSubmit" type="button" class="btn btn-primary">Send playing</button>  
</form>
<script>
$(document).ready(function(){

});
</script>
<% end %>