<% if authorized? %>
<div class="col-xs-6" style="padding-top: 5%">
<%= (show_all_board @game).to_s %>
</div>
<div class="col-xs-6" style="padding-top: 5%">
<%= (show_opponent_board @game).to_s %>
</div>
<form id="form-play-ships" class="form-horizontal col-md-8 col-md-offset-2" action="/games/<%= @game.id.to_s %>/move" method="post">
  <input type="hidden" name="_method" value="put"/>
  <input type="hidden" id="row" name="row" value="">
  <input type="hidden" id="column" name="column" value="">
  <button id="bSubmit" type="button" class="btn btn-primary">Send</button>  
</form>
<script>
$(document).ready(function(){
  var selected = $(document);
  $("#opponent-board td").click(function(){
    selected.removeClass("selected");
    selected = $(this);
    $(this).addClass("selected");
    pos = $(this).attr("id").split("-");
    $("form#form-play-ships input#column").val(pos[0]);
    $("form#form-play-ships input#row").val(pos[1]);
  });
  $("#bSubmit").click(function(){
    $("form#form-play-ships").submit();
  });
});
</script>
<% end %>