para probar el put

<form method="post" action="/games/1/move">
<input type="hidden" name="_method" value="put"/>
<input placeholder="column" name="column"/>
<input  placeholder="row" name="row"/>
<button type="submit">
</form>