<% if authorized? %>
<div class="col-xs-6" style="padding-top: 5%">
<p>USUARIO: <%= (current_user_name @game).to_s %></p>
<%= (show_game_board @game.board1).to_s %>
</div>
<div class="col-xs-6" style="padding-top: 5%">
<p>USUARIO: <%= (opponent_user_name @game).to_s %></p>
<%= (show_game_board @game.board2).to_s %>
</div>
<% end %>